{
  "name": "azure",
  "description": "A plugin to manage Azure Kubernetes Service (AKS) with workload identity.",
  "homepage": "https://github.com/rajatjindal/spin-plugin-releasetest",
  "version": "{{ Version }}",
  "spinCompatibility": ">=2.3.1",
  "license": "Apache-2.0",
  "packages": [
    {
      "os": "linux",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-plugin-releasetest/releases/download/{{ TagName }}/releasetest-linux-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "linux",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-plugin-releasetest/releases/download/{{ TagName }}/spin-plugin-releasetest-linux-arm64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-plugin-releasetest/releases/download/{{ TagName }}/spin-plugin-releasetest-darwin-arm64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-plugin-releasetest/releases/download/{{ TagName }}/spin-plugin-releasetest-darwin-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-plugin-releasetest/releases/download/{{ TagName }}/spin-plugin-releasetest-windows-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/rajatjindal/spin-plugin-releasetest/releases/download/{{ TagName }}/spin-plugin-releasetest-windows-arm64.tar.gz{{/addURLAndSha}}
    }
  ]
}
